body {
  background-color:rgb(20,20,20);
}

.title-h1 {
  color:rgb(156,156,156);
  font-size:30px;
  text-align:left;
}

.title-body1 {
  background-color:rgb(24,24,24);
}

.text-footer {
  color:white;
}

